cloud_id                 = "cloud_id"
folder_id                = "folder_id"
zone                     = "ru-central1-a"
region_id                = "central1"
image_id                 = "image_id"
public_key_path          = "key.pub"
subnet_id                = "subnet_id"
service_account_key_file = "key.json"
private_key_path         = "key"
instances_count          = 1
